<div (click)="switchShowList()" class="z-40 absolute right-0 top-0 p-4">

  <div (click)="$event.stopPropagation()" class="flex flex-col">

    <div (click)="switchShowList()" class="cursor-pointer text-right">
      <mat-icon fontIcon="insert_emoticon" class="scale-150 text-black dark:text-gray-200"></mat-icon>
    </div>

    @if(showlist) {
    <div (click)="switchShowList()" class="bg-transparent w-[100vw] h-[90vh] flex flex-row-reverse ">

      <div (click)="$event.stopPropagation()"
        class="flex flex-col w-60 h-fit text-base text-gray-800 dark:text-gray-200 bg-slate-50 dark:bg-neutral-750 rounded-2xl shadow-md border border-gray-200 dark:border-gray-700">

        <div class="flex flex-row px-2 py-1 mt-1">
          <div class="flex flex-row p-2 grow cursor-pointer rounded-lg hover:bg-gray-200 dark:hover:bg-neutral-600"
            (click)="showModalInfo()">
            <mat-icon fontIcon="info" class=""></mat-icon>
            <div class="pl-2">How this works</div>
          </div>
        </div>

        <div class="flex flex-row px-2 py-1 mt-1">
          <div class="flex flex-row p-2 grow cursor-pointer rounded-lg hover:bg-gray-200 dark:hover:bg-neutral-600"
            (click)="goToLink('https://super-assistants.web.app/docs')">
            <mat-icon fontIcon="picture_as_pdf" class=""></mat-icon>
            <div class="pl-2">See Docs</div>
          </div>
        </div>
        <!-- <div class="flex flex-row px-2 py-1">
          <div class="flex flex-row p-2 grow cursor-pointer rounded-lg hover:bg-gray-200 dark:hover:bg-neutral-600">
            <mat-icon fontIcon="settings" class=""></mat-icon>
            <div class="pl-2">Settings</div>
          </div>
        </div> -->
        @if(!themeService.isDarkModeSig()) {
        <div class="flex flex-row px-2 py-1 border-b border-gray-200 dark:border-gray-600">
          <div class="flex flex-row p-2 grow cursor-pointer rounded-lg hover:bg-gray-200 dark:hover:bg-neutral-600"
            (click)="changeTheme()">
            <mat-icon fontIcon="dark_mode"></mat-icon>
            <div class="pl-2">Dark</div>
          </div>
        </div>
        }
        @if(themeService.isDarkModeSig()) {
        <div class="flex flex-row px-2 py-1 border-b border-gray-200 dark:border-gray-600">
          <div class="flex flex-row p-2 grow cursor-pointer rounded-lg hover:bg-gray-200 dark:hover:bg-neutral-600"
            (click)="changeTheme()">
            <mat-icon fontIcon="light_mode" class=""></mat-icon>
            <div class="pl-2">Light</div>
          </div>
        </div>
        }
        @if(authService.currentUserSig()) {
        <div class="flex flex-row px-2 py-1 border-gray-200 dark:border-gray-600">
          <div
            class="flex flex-row px-2 py-2 grow cursor-pointer rounded-lg hover:bg-gray-200 dark:hover:bg-neutral-600"
            (click)="logout()">
            <mat-icon fontIcon="logout" class=""></mat-icon>
            <div class="pl-2">Logout</div>
          </div>
        </div>
        }
        @if(authService.currentUserSig() == null) {
        <div class="flex flex-col px-2 py-1 border-t border-gray-200 dark:border-gray-600">
          <div class="flex flex-row px-2 py-2 grow cursor-pointer rounded-lg hover:bg-gray-200 dark:hover:bg-neutral-600"
            (click)="setShowLoginAndSwitch()">
            @if(this.showRegisterOrLogin() == undefined) {
            <mat-icon fontIcon="login" class=""></mat-icon>
            }
            @if(this.showRegisterOrLogin() == true) {
            <mat-icon fontIcon="person_add" class=""></mat-icon>
            }
            @if(this.showRegisterOrLogin() == false) {
            <mat-icon fontIcon="login" class=""></mat-icon>
            }
            <!-- <mat-icon fontIcon="login" class=""></mat-icon> -->
            <div class="pl-2">
              @if(this.showRegisterOrLogin() == undefined) {Login or SignUp}
              @if(this.showRegisterOrLogin() == true) { to SignUp}
              @if(this.showRegisterOrLogin() == false) { to Login}
            </div>
          </div>
          <div class="flex flex-row">
            @if(this.showRegisterOrLogin() == true) {
            <div class="m-auto mt-4">
              <app-login></app-login>
            </div>
            }
            @if(this.showRegisterOrLogin() == false) {
            <div class="m-auto mt-4">
              <app-register></app-register>
            </div>
            }
          </div>
        </div>
        }
        <!-- <div class="px-4 py-4 rounded-b-lg">Download</div> -->
      </div>

    </div>
    }


  </div>

</div>
