<!-- <div class="bg-gray-300 flex flex-row gap-10 w-full"> -->
<!-- <div class="z-10 flex-shrink-0 overflow-x-hidden max-md:!w-0"> -->
<div>
  <div class="h-[100vh] w-[260px] bg-gray-200 dark:bg-neutral-900 border-r border-gray-400">

    <div class="flex flex-col text-center pt-10 text-gray-900 dark:text-gray-300">
      <div class="text-center py-2">
        <app-button-theme></app-button-theme>
      </div>
      <div class="cursor-pointer text-center my-2" (click)="setAssistant('asst_L0n8MIqjkbPJpgvqpEKUt1Hw')">
        US Presidents
      </div>
      <div class="cursor-pointer text-center my-2" (click)="setAssistant('asst_YPuH1T2frcyhAlXJZ0ibz2lg')">
        Napoleon
      </div>
      <div class="cursor-pointer text-center my-2" (click)="setAssistant('asst_l5hYAePrPlv2IenUeAcH9tWE')">
        Lisa Story
      </div>
    </div>

    <div class="bg-green-200 fixed bottom-0 w-[260px] text-center">
      @if(authService.currentUserSig() == null) {
        <div (click)="changeViewRegisterOrLogin()" class="cursor-pointer p-2 font-semibold bg-violet-300">
          Login or Register
        </div>
        <div>
          @if(this.showRegisterOrLogin) {
            <div>
              <app-login></app-login>
            </div>
          }
          @if(!this.showRegisterOrLogin) {
            <div>
              <app-register></app-register>
            </div>
          }
        </div>
      }

      @if(authService.currentUserSig()) {
        <div>
          <app-logout></app-logout>
        </div>
      }


    </div>
  </div>
</div>
