  <div class="flex cursor-pointer gap-1 rounded-lg font-semibold">
    <div class="dark:font-extrabold dark:text-gray-100 text-lg">
      Chat with
      @if(this.assistantselectorService.assistant_id() == '') {
        . . . .
      }
      @if(this.assistantselectorService.assistant_id() == 'asst_YPuH1T2frcyhAlXJZ0ibz2lg') {
        a funny Napoleon teacher
      }
      @if(this.assistantselectorService.assistant_id() == 'asst_L0n8MIqjkbPJpgvqpEKUt1Hw') {
        an old sage about US presidents
      }
      @if(this.assistantselectorService.assistant_id() == 'asst_l5hYAePrPlv2IenUeAcH9tWE') {
        teacher Maggie
      }
    </div>
    <div>
      <!-- <mat-icon aria-label="Example home icon" fontIcon="expand_circle_down" class="dark:text-red-800 text-green-400"></mat-icon> -->
    </div>

  </div>
